@{
	ViewBag.Title = "Test";
}

<div ng-controller="TestCtrl">

	<h3>Request/Response</h3>
	<button class="btn btn-primary" ng-click="inititeSingleRequestAndResponseTest()">Send Request Expecting Single Reply to client.</button>
	Result: <span class="glyphicon" ng-class="{
				  'glyphicon-cog': !testState.singleRequestAndResponse,
				  'text-warning': !testState.singleRequestAndResponse,
				  'glyphicon-check': testState.singleRequestAndResponse,
				  'text-success': testState.singleRequestAndResponse}"></span>

	<br />
	<br />

	<button class="btn btn-primary" ng-click="inititeRequestThatResultsInErrorTest()">Send Request Expecting unhandled exception to get returned to client.</button>
	Result: <span class="glyphicon" ng-class="{
				  'glyphicon-cog': !testState.requestThatResultsInError,
				  'text-warning': !testState.requestThatResultsInError,
				  'glyphicon-check': testState.requestThatResultsInError,
				  'text-success': testState.requestThatResultsInError}"></span>
	
	<br />
	<br />

	<button class="btn btn-primary" ng-click="inititeRequestThatResultsInUnauthorizedErrorTest()">Send Request Expecting Not Authorized Exception to get returned to client.</button>
	Result: <span class="glyphicon" ng-class="{
				  'glyphicon-cog': !testState.requestThatResultsInUnauthorizedError,
				  'text-warning': !testState.requestThatResultsInUnauthorizedError,
				  'glyphicon-check': testState.requestThatResultsInUnauthorizedError,
				  'text-success': testState.requestThatResultsInUnauthorizedError}"></span>

	@* todo: test: group membership to stalwart group *@

	@* todo: test: group join/leave in flight *@

	@* todo: test: push notifications *@

	@* todo: test: push notifications via WebApi so that it is generated from outside of the framework  *@

</div>